USE [master]
GO
/****** Object:  Database [MockData]    Script Date: 9/10/2023 11:45:40 PM ******/
CREATE DATABASE [MockData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MockData', FILENAME = N'C:\Users\azureuser\AppData\Local\Microsoft\VisualStudio\SSDT\MockData\MockData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MockData_log', FILENAME = N'C:\Users\azureuser\AppData\Local\Microsoft\VisualStudio\SSDT\MockData\MockData.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MockData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MockData]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/10/2023 11:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerId] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customerId], [first_name], [last_name], [email]) VALUES (1, N'Husein', N'Lampard', N'hlampard0@spotify.com')
INSERT [dbo].[Customer] ([customerId], [first_name], [last_name], [email]) VALUES (2, N'Benton', N'Gerb', N'bgerb1@irs.gov')
INSERT [dbo].[Customer] ([customerId], [first_name], [last_name], [email]) VALUES (3, N'Merilee', N'Lewisham', N'mlewisham2@simplemachines.org')
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
USE [master]
GO
